In [ ]:
import pandas as pd

df = pd.read_csv('eda.csv') #Read the CSV file
df.head() # Display the first five rows of the data

Basic EDA

In [ ]:
df.shape
# 205 Rows
# 15 Columns

In [ ]:
df.info()
# Number of rows = 205
# Number of columns = 15
# Name, data type and number of non-null rows in each column
# Number of null values in each column
# Number of columns for each data type
# Memory usage

Handling Missing Values

In [ ]:
df.isna().sum() #Return the number of missing values in each column

In [ ]:
# Delete 

newdf = df.dropna() #Returns the DataFrame after deleting all rows containing null values
print('Shape of df: {}'.format(df.shape))
print('Shape of newdf: {}'.format(newdf.shape))

In [ ]:
newdf = df.dropna(axis=1) #Delete columns containing null values
print('Shape of df: {}'.format(df.shape))
print('Shape of newdf: {}'.format(newdf.shape))

In [ ]:
nullrows = df['horsepower'].isna()
df[nullrows]

In [ ]:
# Imputation (Fill with a value)
mean = df['horsepower'].mean()
mean

In [ ]:
df['horsepower'].fillna(mean, inplace=True) # Fill the mean in all the rows containin null value in the horsepower column
df[nullrows]

Handling Outliers

In [ ]:
import seaborn as sns

sns.boxplot(x=df['horsepower'])

In [ ]:
condition = df['horsepower']>190 # Return a boolean DataFrame
outliers = df[condition] # Outlier rows
newdf = df.drop(outliers.index, axis=0) #Delete outliers
print('Shape of df: {}'.format(df.shape))
print('Shape of newdf: {}'.format(newdf.shape))

Handling Skewness

In [ ]:
import matplotlib.pyplot as plt

plt.hist(df['engine-size'])
plt.show()
#Right Skewed (Positively Skewed)

In [ ]:
df['engine-size'].skew() #Returns the skewness

In [ ]:
# Box Cox Transformation

from scipy.stats import boxcox
import numpy as np

after_boxcox = boxcox(df['engine-size'])
after_boxcox = pd.Series(after_boxcox[0])
after_boxcox.skew()

In [ ]:
plt.hist(after_boxcox)
plt.show()

Categorical Data Encoding

In [ ]:
df['fuel-type'].unique() #Return all the unique values in the given Series

In [ ]:
# One Hot Coding

one_hot = pd.get_dummies(df['fuel-type'],dtype='int')
one_hot.head()

In [ ]:
df['body-style'].unique()

In [ ]:
# Label Encoding

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
encoding = le.fit_transform(df['body-style'])
encoding[:5]

In [ ]:
# The most frequent value

#df['column name'].value_counts().idxmax()

Data Normalization or Scaling

In [ ]:
import pandas as pd

df = pd.read_csv('eda.csv')
df.info()

Types of Scaling:

Standard Scaling: Scale you data such that the mean becomes 0 and standard deviation becomes 1. (Standard Normal Distribution)

x(scaled) = (x-mean(x))/std(x)

Min Max Scaling: Scale the data between 0 and 1

x(scaled) = (x-min(x))/(max(x)-min(x))

In [ ]:
df['engine-size'].mean()

In [ ]:
df['engine-size'].std()

In [ ]:
df['engine-size'].head()

In [ ]:
# Standard Scaling

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
result = scaler.fit_transform(df.loc[:,['engine-size']])
result[:5]

In [ ]:
result.mean()

In [ ]:
result.std()

In [ ]:
df['engine-size'].min()

In [ ]:
df['engine-size'].max()

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
result = scaler.fit_transform(df[['engine-size']])
result[:5]

In [ ]:
result.min()

In [ ]:
result.max()

In [2]:
import pandas as pd 

df=pd.read_csv('eda.csv')
df

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111.0,21,27,13495
1,3,NaN,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111.0,21,27,16500
2,1,NaN,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154.0,19,26,16500
3,2,164.0,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102.0,24,30,13950
4,2,164.0,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115.0,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114.0,23,28,16845
201,-1,95.0,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160.0,19,25,19045
202,-1,95.0,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134.0,18,23,21485
203,-1,95.0,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106.0,26,27,22470
204,-1,95.0,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114.0,19,25,22625